<nav>
  <header>
    <h1>LEO BOX - Raawwrr</h1>
    <div class="buttons">
      <button type="button" pButton icon="pi pi-fast-backward" (click)="fastBackward()"></button>
      <button type="button" pButton icon="pi pi-fast-forward" (click)="fastForward()"></button>
      <button type="button" pButton icon="pi pi-play" (click)="resume()"></button>
      <button type="button" pButton icon="pi pi-pause" (click)="pause()"></button>
    </div>
  </header>
</nav>
<main>
  <div class="grid fluid">
    <div class="col-12 current-tag-and-music">
      <p-card [classList]="['rfid-scanner-card']">
        <div class="rfid-scanner-card-content">
          <img *ngIf="!currentState?.tag" class="rfid-scanner-icon" src="assets/rfid-icon.svg"/>
          <div *ngIf="currentState?.tag" class="rfid-card">
            {{currentState?.tag?.uid}}
          </div>
        </div>
      </p-card>
      <i class="tag-to-music-icon pi pi-chevron-right"></i>
      <p-card [classList]="['rfid-scanner-card']">
        <div class="rfid-scanner-card-content">
          <img *ngIf="!currentState?.currentlyPlaying" class="rfid-scanner-icon" src="assets/sound-waves.svg"/>
          <div *ngIf="currentState?.currentlyPlaying" class="music-card">
            <img class="music-tag-icon" [src]="currentState?.currentlyPlaying?.imageUrl"> 
            <div class="music-tag-title">{{currentState?.currentlyPlaying?.name}}</div>
          </div>
        </div>
      </p-card>
    </div>
  </div>

<!--
  <h3>Sonos <button pButton icon="pi pi-external-link" class="p-button-rounded p-button-text" (click)="authenticateSonos()"></button></h3>
  <div class="p-inputgroup">
    <input type="text" pInputText placeholder="Search..." #sonosQuery>   
    <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn" (click)="searchSonos(sonosQuery.value)"></button>      
  </div>

  <p-dataView [value]="sonosResults">
    <ng-template let-item pTemplate="listItem">
        <div class="spotify-item-row" (click)="connect(item)">
            <img [src]="item.imageUrl"> {{item.name}}
        </div>
    </ng-template>
  </p-dataView>
-->

  <h3>Spotify <button pButton icon="pi pi-external-link" class="p-button-rounded p-button-text" (click)="authenticateSpotify()"></button></h3>
  <div class="p-inputgroup">
    <input type="text" pInputText placeholder="Search..." #spotifyQuery>   
    <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn" (click)="searchSpotify(spotifyQuery.value)"></button>      
  </div>

  <p-dataView [value]="spotifyResults" class="spotify-item-list">
    <ng-template let-item pTemplate="listItem">
        <div class="spotify-item-row" [class.spotify-item-active]="currentState?.currentlyPlaying?.uri === item.uri">
            <img class="spotify-item-icon" [src]="item.imageUrl"> 
            <div class="spotify-item-title">{{item.name}}</div>
            <div class="buttons">
              <button type="button" pButton icon="pi pi-play" (click)="play(item)"></button>
              <button class="spotify-item-link" type="button" pButton icon="pi pi-link" (click)="connect(item)"></button>
            </div>
        </div>
    </ng-template>
  </p-dataView>
  
  <h3>Music Tags</h3>
  <p-dataView [value]="musicTags" class="music-tag-list">
    <ng-template let-tag pTemplate="listItem">
        <div class="music-tag-row" [class.music-tag-active]="currentState?.tag?.uid === tag.uid">
          <img class="music-tag-icon" [src]="tag.imageUrl"> 
          <div class="music-tag-title">{{tag.uid}} -> {{tag.name}}</div>
          <div class="buttons">
            <button type="button" pButton icon="pi pi-play" (click)="play(tag)"></button>
            <button class="music-tag-delete" type="button" pButton icon="pi pi-trash"  (click)="deleteMusicTag(tag)"></button>
          </div>
          
        </div>
    </ng-template>
  </p-dataView>
  
</main>

