header {
  padding: 16px 32px;
  background: #2a323d;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin: 32px;
}

.current-tag-and-music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .rfid-scanner-card-content {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 23rem;
    height: 12rem;

    .rfid-card {
      width: 80%;
      height: 80%;
      display: flex;
      background: #c3cad5;
      color: #495057;
      box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .rfid-tag {
        font-family: monospace;
        padding: 4px;
      }

      .rfid-tag-override {
        color: red;
        display: flex;
        align-items: center;
      }
    }

    .music-card {
      width: 80%;
      height: 80%;
      display: flex;
      background: #546378;
      box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
      border-radius: 6px;
      padding: 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .music-tag-icon {
        padding: 8px;
      }
    }
  }

  .tag-to-music-icon {
    padding: 16px;
    font-size: 24px;
  }
  
  @media only screen and (max-width: 850px) {
    flex-direction: column;

    .tag-to-music-icon::before {
      content: "\e902";
    }
  }
}

.spotify-item-list .spotify-item-row, 
.music-tag-list .music-tag-row {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.spotify-item-active,
  &.music-tag-active {
    background-color: #546378;
  }

  &:hover {
    background-color: #175982;
  }
}

.spotify-item-list .spotify-item-title, 
.music-tag-list .music-tag-title {
  padding: 8px 16px;
  flex-grow: 1;
}

.buttons {
  button {
    margin-left: 2px;
  }
}